{% extends "partial/layout.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="ubicasion">
                    <div class="titulo-ubic text-center">
                        <h1> Ubica nuestra sucursal </h1>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6972.294858727652!2d-111.02912273623798!3d29.10132855132361!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1554084259261!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


{% endblock %}