{% extends "partial/layout.twig" %}

{% block content %}


    <div class="container imagen">
        <div class="row">
            <div class="col-md-12">
                <img class="img-fluid img rounded mx-auto d-block" src={{ "img/pastel.jpg" |public }} alt="">
            </div>
        </div>
            <div class="info">
                 <div class="col-md-12">
                     <div class="text-center">
                         <h1 >¿Quienes Somos?</h1>
                     </div>
                     <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus enim error fugiat, hic impedit optio perferendis possimus provident quam reiciendis repellendus totam ut? Alias id illum necessitatibus placeat veritatis voluptatem.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium et eveniet ipsum quibusdam repellat, repellendus. Assumenda consequatur dolor neque omnis quasi, qui quod voluptatum. Aut eligendi est incidunt iste nostrum.

                     </p>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">
                        <h1>
                            Mision
                        </h1>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi culpa cupiditate delectus distinctio eligendi esse, est illum in ipsam, magnam nam, nulla obcaecati officia officiis perspiciatis provident quos sit?

                    </p>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <h1>
                            Vision
                        </h1>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi culpa cupiditate delectus distinctio eligendi esse, est illum in ipsam, magnam nam, nulla obcaecati officia officiis perspiciatis provident quos sit?
                    </p>
                </div>
            </div>
        </div>
    </div>




{% endblock %}